documentation/Development/Schema/ActionSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Action" type="actionType">
        <xs:annotation>
            <xs:documentation> An action a character can do. This can be an interactive map element
                or an item in the players inventory. </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="actionType">
        <xs:sequence>
            <xs:element type="xs:string" name="ActionId">
                <xs:annotation>
                    <xs:documentation> The internal id of the action </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="Description">
                <xs:annotation>
                    <xs:documentation> The description of the action, visible to the player </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="JobName">
                <xs:annotation>
                    <xs:documentation> The name of the job, done by the player </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="JobHandler" minOccurs="0">
                <xs:annotation>
                    <xs:documentation> The function name for overwriting the default job handler </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="CheckHandler" minOccurs="0">
                <xs:annotation>
                    <xs:documentation> The function name for checking if a character is even able to
                        do this action </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:anyType" name="HandlerParameter" minOccurs="0">
                <xs:annotation>
                    <xs:documentation> Optional parameters for the handler </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>