documentation/Development/Schema/ActionSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="https://aheffner.de/Schema" xmlns:cts="https://aheffner.de/Schema"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Action" type="cts:actionType">
        <xs:annotation>
            <xs:documentation> An action a character can do. This can be an interactive map element
                or an item in the players inventory. </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="actionType">
        <xs:sequence>
            <xs:element type="xs:string" name="ActionId">
                <xs:annotation>
                    <xs:documentation> The internal id of the action </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="Description">
                <xs:annotation>
                    <xs:documentation> The description of the action, visible to the player </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="ActionName">
                <xs:annotation>
                    <xs:documentation> The name of the action, done by the character </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="ActionHandler" minOccurs="0">
                <xs:annotation>
                    <xs:documentation> The function name for overwriting the default action handler </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="CheckHandler" minOccurs="0">
                <xs:annotation>
                    <xs:documentation> The function name for checking if a character is even able to
                        do this action </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:anyType" name="HandlerParameter" minOccurs="0">
                <xs:annotation>
                    <xs:documentation> Optional parameters for the handler </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>