documentation/Development/Schema/MapSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="https://aheffner.de/Schema" xmlns:cts="https://aheffner.de/Schema"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="ActionSchema.xsd" />
    <xs:element name="Map">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="MapId">
                    <xs:annotation>
                        <xs:documentation> The id of the map. Use the uniqueMapId for referencing
                            instances of maps. </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element type="xs:boolean" name="Instanced">
                    <xs:annotation>
                        <xs:documentation> Instanced maps are not shared with other players /
                            groups. Two independed players will get different instances. Important:
                            The uniqueMapId and persistencePoolUniqueId of instanced maps will get
                            random characters appended to differenciate between them. e.g.
                            "ExampleMap.fdsdkfbsgfdsfds". </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element type="xs:boolean" name="Persistent">
                    <xs:annotation>
                        <xs:documentation> Persistent maps will get saved and restored, if
                            corresponding players reenter the map. nonpersistent maps cease to exist
                            after every character leafs the map. </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element type="xs:string" name="PersistencePool" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation> A persistent pool is cleand when all corresponding maps
                            are deserted. </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element type="xs:string" name="Description">
                    <xs:annotation>
                        <xs:documentation> The description of the map. This text will get shown to
                            the player when they look around. </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Transitions" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation> Transitions determin where a character can walk to for
                            exiting a map. Transitions can also occure when performing actions. </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Transition" maxOccurs="unbounded" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation> A transition defines a single point where a
                                        character can change maps. </xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="TargetMapId">
                                            <xs:annotation>
                                                <xs:documentation> The target map </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:choice>
                                            <xs:element type="xs:string" name="Description"
                                                minOccurs="0">
                                                <xs:annotation>
                                                    <xs:documentation> A description of the
                                                        transition point, visible to the player </xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                            <xs:element type="xs:string" name="DescriptionHandler"
                                                minOccurs="0">
                                                <xs:annotation>
                                                    <xs:documentation> A code handler, called for
                                                        getting the description, instead of a
                                                        hardcoded description </xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                        </xs:choice>
                                        <xs:element type="xs:string" name="Check" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation> A function called for checking if
                                                    a transition is allowed to occure </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Trigger" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation> Trigger are optional handlers that can occure and are
                            used for calling specific functions. </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="OnMapEnter" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation> Called when a character enters a map. </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element type="xs:string" name="OnMapExit" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation> Called when a character exits a map. </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element type="xs:string" name="OnMapStay" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation> Called when a character stays on a map. </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="POIs" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation> Points of interest are things visible to the player. </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="POI" maxOccurs="unbounded" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation> A single point of interest on the map </xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="Name">
                                            <xs:annotation>
                                                <xs:documentation> The name of the poi. This is
                                                    visible to the player </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element type="xs:string" name="Description"
                                            minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation> The Description of the poi </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="Actions" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation> The actions available to the
                                                    player on the poi </xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="cts:actionType" name="Action"
                                                        maxOccurs="unbounded" minOccurs="0">
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element type="xs:string" name="DescriptionHandler"
                                            minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation> A custom function for providing
                                                    the description </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element type="xs:anyType" name="State" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation> This contains the current state of the map and the
                            default values </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>